@{
    ViewBag.Title = "Add New Availability";
}

@section subhead {
    @if (ViewBag.edit == -1 || ViewBag.create) {
        <h2>Add New Availability</h2>
        @* StudentFarm.Models.FuzzyDateParser test = new StudentFarm.Models.FuzzyDateParser();
        <h2>@test.Parse("1w 13d, 1 month", DateTime.Today, true).ToShortDateString()</h2>
        <h2>@test.Parse("the thursday", DateTime.Today, true).ToShortDateString()</h2> *@
    }
    else {
        <h2>Edit Availability</h2>
    }
}

<div id="alert-placeholder"></div>

@* On the edit availability and/or view past availabilities page, should have a "save as new" button or something
   to copy old availabilities to new ones, which I suspect will be an extremely frequent activity *@
<form autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="accordion" id="opts_accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#opts_accordion" href="#opts_form"><i class="icon-cog"></i> Options</a>
            </div>
            <div id="opts_form" class="accordion-body collapse">
                @{
                    String today, twodays;
                    if (ViewBag.edit == -1 || ViewBag.create) {
                        today = DateTime.Today.ToShortDateString();
                        twodays = DateTime.Today.AddDays(2).ToShortDateString();
                    }
                    else {
                        today = ViewBag.avail.DateStart.ToShortDateString();
                        twodays = ViewBag.avail.DateEnd.ToShortDateString();
                    }
                    
                    TimeSpan duration = new TimeSpan();
                    if (ViewBag.edit != -1 && ViewBag.create) {
                        duration = DateTime.Today.Subtract(ViewBag.avail.DateStart);
                    }
                }
                <div class="accordion-inner">
                    <h4>Availability is for delivery date(s) between:</h4>
                    <input type="text" class="date" id="delivery_start" name="start_d" value="@today" /> and <input type="text" class="date" name="end_d" value="@twodays" />
                    <h4>Offer to:</h4>
                    @foreach (StudentFarm.Models.Buyer buyer in ViewBag.buyers) {
                        // Html attributes. Null in MVC4 means the attribute doesn't get displayed, so
                        // we can set variables for optional attributes and make them null if we don't
                        // need 'em.
                        String display = "display: none;", check = null;
                        
                        // Order dates. Defaults to today and two days from today, but if this buyer's
                        // associated with this availability, we can modify it through these variables.
                        String startday = "one day", endday = "one day";
                        
                        // Easier access to the buyeravailability record.
                        StudentFarm.Models.BuyerAvailability buya = null;
                        <label class="checkbox">
                            @if (ViewBag.edit == -1)
                            {
                                <input class="buyer" type="checkbox" name="buyers" value="@buyer.Id" /> @buyer.Name
                            }
                            else {
                                buya = ViewBag.avail.HasBuyer(buyer.Id);
                                if (buya != null)
                                {
                                    check = "checked";
                                    display = null;
                                    /*
                                    DateTime start;
                                    DateTime end;
                                    start = buya.StartTime;
                                    end = buya.EndTime;

                                    if (ViewBag.create)
                                    {
                                        start = start.Add(duration);
                                        end = end.Add(duration);
                                    }
                                    */
                                    
                                    startday = buya.RelStart;
                                    endday = buya.RelEnd;
                                }
                                <input class="buyer" type="checkbox" name="buyers" value="@buyer.Id" checked="@check" /> @buyer.Name
                            }
                        </label>
                        <div id="buyer_@buyer.Id" style="@display">
                            @* Unchecked checkbox items don't get stuck in the POSTed data and don't make it
                               into the array passed to the controller's method. The array indices for the buyers
                               array can therefore be different from the indices for all the order time data. However,
                               we still need a way to associate the ordering times with the buyers. The following
                               hidden buyer_id field facilitates this association. *@
                            <input type="hidden" name="buyer_id" value="@buyer.Id" />
                            <p>
                                <u>Order Times:</u><br />
                                Start: <select name="ostart_t">
                                    @for (int i = 0; i < 1440; i += 15) {
                                        if (buya != null && buya.ToMinutes(true) == i) {
                                            @ViewBag.printTime(i, true);
                                        }
                                        else if (buya == null && i == 540) {
                                            @ViewBag.printTime(i, true);
                                        }
                                        else {
                                            @ViewBag.printTime(i)
                                        }
                                    }
                                </select>,
                                <input type="text" name="ostart_d" value="@startday" /> before <span class="delivery">@today</span>.<br />
                        
                                End: <select name="oend_t">
                                    @for (int i = 0; i < 1440; i += 15)
                                    {
                                        if (buya != null && buya.ToMinutes(false) == i) {
                                            @ViewBag.printTime(i, true);
                                        }
                                        else if (buya == null && i == 600) {
                                            @ViewBag.printTime(i, true);
                                        }
                                        else {
                                            @ViewBag.printTime(i)
                                        }
                                    }
                                </select>,
                                <input type="text" name="oend_d" value="@endday" /> before <span class="delivery">@today</span>.<br />
                            </p>
                       </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <table class="table" id="main_tab">
        <tr>
            <th>&nbsp;</th>
            <th>Product (e.g., red russian)</th>
            <th>Pack Size (e.g., bunch, pound)</th>
            <th>Unit Price ($)</th>
            <th class="highlight">Available # of Units</th>
        </tr>
        @if (ViewBag.edit == -1) {
            <tr>
                <td><button class="btn btn-danger remove-button" type="button"><i class="icon-remove"></i></button></td>
                <td><input type="text" name="product" class="typeahead" /><input type="hidden" name="product_id" /></td>
                <td><input type="text" name="packsize" class="typeahead" /><input type="hidden" name="packsize_id" /></td>
                <td><input type="text" name="unitprice" /></td>
                <td class="highlight"><input type="text" name="amount" /></td>
            </tr>
        }
        else {
            foreach (StudentFarm.Models.Offered item in ViewBag.avail.Offered)
            {
                StudentFarm.Models.CropUnit cu = item.CropPrice.CropUnit;
                <tr>
                    <td><button class="btn btn-danger remove-button" type="button"><i class="icon-remove"></i></button></td>
                    <td><input type="text" name="product" class="typeahead" value="@cu.Crop.Name" /><input type="hidden" name="product_id" value="@cu.Crop.Id" /></td>
                    <td><input type="text" name="packsize" class="typeahead" value="@cu.Unit.Name" /><input type="hidden" name="packsize_id" value="@cu.Unit.Id" /></td>
                    <td><input type="text" name="unitprice" value="@item.CropPrice.UnitPrice" /><input type="hidden" name="cp_id" value="@item.CropPrice.Id" /></td>
                    <td class="highlight"><input type="text" name="amount" value="@item.Quantity" /><input type="hidden" name="offered_id" value="@item.Id" /></td>
                </tr>
            }
        }
    </table>
</form>
<button id="add" class="btn" type="button"><i class="icon-plus"></i> Add Stuff</button>
<br /><br />
<button id="save" class="btn" type="button"><i class="icon-ok"></i> Save</button>
<button id="go_back" class="btn btn-primary" type="button"><i class="icon-ok"></i> Save &amp; Go Back</button>
<button id="cancel" class="btn btn-danger" type="button"><i class="icon-remove"></i> Cancel &amp; Go Back</button>

@if (ViewBag.create)
{
    ViewBag.edit = -1;
}

@section AdditionalScripts {
<script type="text/javascript">
    var initTypeahead = function (i, el) {
        var controller = 'units';
        var ids = {};

        if (el.name == 'product') {
            controller = 'crops';
        }

        // Load data into data-source for both text inputs with via
        // function with xhr. Pass result to process() as array.
        $(el).typeahead({
            source: function (query, process) {
                $.get('@(ViewBag.url)' + controller + '/search', "search=" + encodeURIComponent(query),
                        function (data) {
                            if (data.length > 0) {
                                var dat_arr = data.split('","');
                                var items = [];

                                for (var i = 0; i < dat_arr.length; i += 2) {
                                    ids[dat_arr[i + 1]] = dat_arr[i];
                                    items.push(dat_arr[i + 1]);
                                }

                                process(items);
                            }
                            else {
                                process([]);
                            }
                        });
            },

            // Save the ID in a hidden field.
            updater: function (item) {
                el.parentNode.getElementsByTagName('input').item(1).value = ids[item];
                console.log(el.parentNode.getElementsByTagName('input').item(1));
                return item;
            }
        });
    };

    $('.typeahead').each(initTypeahead);

    // Creates a new column with a textbox in it, with typeahead attached if necessary.
    function new_col(type, name, classy, colclass) {
        var col = document.createElement('td');
        if (colclass) {
            col.className = colclass;
        }

        var inp = document.createElement('input');
        inp.type = type;
        inp.name = name;
        if (classy.length > 0) {
            inp.className = classy;
        }

        col.appendChild(inp);

        if (classy.indexOf('typeahead') != -1) {
            initTypeahead(0, inp);
        }

        return col;
    }

    // Makes new column with hidden field for id
    function new_col_with_id(type, name, id_fld_name, classy, colclass, id) {
        colclass = colclass ? colclass : null;
        classy = classy ? classy : "";
        id = id ? id : "";
        var col = new_col(type, name, classy, colclass);
        
        var hid = document.createElement('input');
        hid.type = "hidden";
        hid.name = id_fld_name;
        hid.value = id;

        col.appendChild(hid);

        return col;
    }

    // Deletes a row. Called by remove buttons, so "this" would be the remove buttons themselves.
    function delete_row() {
        var row = this.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    // Makes new column with remove button
    function new_del_btn() {
        var col = document.createElement('td');

        var btn = document.createElement('button');
        btn.className = 'btn btn-danger remove-button';
        btn.type = 'button';

        var icn = document.createElement('i');
        icn.className = 'icon-remove';

        btn.appendChild(icn);
        col.appendChild(btn);

        btn.addEventListener('click', delete_row);

        return col;
    }

    // Set up actions for "Add Stuff" button.
    var add_btn = document.getElementById('add');
    add_btn.addEventListener('click', function (e) {
        var tab = document.getElementById('main_tab');
        var row = document.createElement('tr');
        var del_btn = new_del_btn();
        var prod = new_col_with_id("text", "product", "product_id", "typeahead");
        var unit = new_col_with_id("text", "packsize", "packsize_id", "typeahead");
        @if (ViewBag.edit == -1) {
            <text>
                var price = new_col("text", "unitprice", "");
                var amt = new_col("text", "amount", "", "highlight");
            </text>
        }
        else {
            <text>
                var price = new_col_with_id("text", "unitprice", "cp_id", null, null, -1);
                var amt = new_col_with_id("text", "amount", "offered_id", "", "highlight", -1);
            </text>
        }

        row.appendChild(del_btn);
        row.appendChild(prod);
        row.appendChild(unit);
        row.appendChild(price);
        row.appendChild(amt);

        tab.appendChild(row);
    });

    // Set up actions for "Save" and "Save & Go Back" buttons
    var save_btn = document.getElementById('save');
    var sgb_btn = document.getElementById('go_back');
    @if (ViewBag.edit == -1) {
    <text>
    var path = "create";
    </text>
    }
    else{
    <text>
    var path = "edit/@ViewBag.edit";
    </text>
    }    

    save_action = function (action) {
        if (action == 'save') {
            return function (e) {
                $.post('@(ViewBag.url)availability/' + path, $('form').first().serialize(), function (data) {
                    if (data != 'Nope') {
                        $('#alert-placeholder').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button>Saved successfully! <a href='@(ViewBag.url)availability'>I'm done editing now!</a></div>");

                        // Modify save buttons so they do the edit action from now on.
                        if (path == "create") {
                            path = 'edit/' + data;
                        }
                    }
                });
            };
        }
        else if (action == 'goback') {
            return function(e) {
                $.post('@(ViewBag.url)availability/' + path, $('form').first().serialize(), function (data) {
                    if (data != 'Nope') {
                        window.location.href = '@(ViewBag.url)availability?success=1';
                    }
                });
            };
        }
    };

    save_btn.addEventListener('click', save_action('save'));
    sgb_btn.addEventListener('click', save_action('goback'));

    // Set up action for Cancel & Go Back button.
    var cancel_btn = document.getElementById('cancel');
    cancel_btn.addEventListener('click', function (e) {
        window.location.href = '@(ViewBag.url)availability';
    });

    // Set up actions for X buttons.
    $('.remove-button').each(function (i, el) {
        el.addEventListener('click', delete_row);
    });

    // Set up calendars
    $('.date').each(function(i, el) {
        $(el).datepicker({
            onSelect: function () {
                // Fires off change event so we can update the "before xx/xx/xxxx" under
                // Order Times for each customer appropriately.
                $(this).change();
            }
        });
    });

    // Set up date-changer for text under order times. Because the datepicker fires off a
    // change event when a date's selected, this function gets called if:
    // 1. The user changes the text in the textbox
    // 2. The user chooses a date via the datepicker.
    $('#delivery_start').change(function () {
        var day = this.value;
        $('.delivery').each(function (i, el) {
            el.innerHTML = day;
        });
    });

    // Set up buyer checkbox toggles
    $('.buyer').each(function (i, el) {
        var buyer_id = el.value;
        var buyer_otimes = document.getElementById('buyer_' + buyer_id);

        el.addEventListener('change', function (e) {
            if (this.checked) {
                buyer_otimes.style.display = "block";
            }
            else {
                buyer_otimes.style.display = "none";
            }
        });
    });
</script>
}