@model IQueryable<StudentFarm.Models.Availability>

@{
    ViewBag.Title = "Ordering Guides";
}

@section subhead {
    <h2>Ordering Guides</h2>
}

<a class="btn btn-primary main-action" href="@(ViewBag.url)availability/create">
    <i class="icon-plus"></i> Add Fresh Doohickey
</a>
<h3>Current</h3>
<table class="table table-hover">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>No. Items</th>
        <th>Offered To</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var avail in Model.Where(av => av.DateEnd.CompareTo(DateTime.Now) >= 0).OrderBy(av => av.DateEnd))
    {
        <tr>
            <td>@avail.DateStart.ToShortDateString()</td>
            <td>@avail.DateEnd.ToShortDateString()</td>
            <td>@avail.Offered.Count</td>
            <td>@avail.GetBuyerNames()</td>
            <td class="actions-column wide"><a class="btn btn-primary" href="@(ViewBag.url)availability/create/@avail.Id"><i class="icon-retweet"></i> Copy</a> <a class="btn btn-success" href="@(ViewBag.url)availability/edit/@avail.Id"><i class="icon-pencil"></i> Edit</a> <a class="btn btn-warning" href="@(ViewBag.url)availability/delete/@avail.Id" title="Delete" alt="Delete"><i class="icon-remove"></i></a>
        </tr>
    }
</table>
    
<h3>Past</h3>
<table class="table table-hover">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>No. Items</th>
        <th>Offered To</th>
        <th>Total Ordered</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var avail in Model.Where(av => av.DateEnd.CompareTo(DateTime.Now) < 0).OrderBy(av => av.DateEnd))
    {
        <tr>
            <td>@avail.DateStart.ToShortDateString()</td>
            <td>@avail.DateEnd.ToShortDateString()</td>
            <td>@avail.Offered.Count</td>
            <td>@avail.GetBuyerNames()</td>
            <td>&nbsp;</td>
            <td class="actions-column">
                <a class="btn btn-primary" href="@(ViewBag.url)availability/create/@avail.Id"><i class="icon-retweet"></i> Copy</a> <a class="btn" href="@(ViewBag.url)availability/details/@avail.Id"><i class="icon-file"></i> View</a>
            </td>
        </tr>
    }
</table>